body{
    margin: 0;
    height: 100vh;
}
.header h1{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.header .nav{
    display: flex;
    justify-content: center;
    background: rgb(124, 122, 122);
}
.header .nav .link{
    text-decoration: none;
    padding: 20px;
    color: black;
   
    font-size: 16px;

    height: 20px;
    border-radius: 10px;
    margin: 10px;

}
.header .nav .link:hover{
    background-color: wheat;
}
.header .nav .service{
    background: transparent;
    border:none;
    font-size: 16px;
    margin-top: -2px;
    
    height: 60px;
    border-radius: 10px;
    margin: 10px;
}
.header .nav .service:hover{
    background-color: wheat;
}
.dropdown .content{
    margin-left: 10px;
    margin-top: -10px;
    width: 120px;
    background-color: bisque;

}

.dropdown .content a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 5px;
    transition: 0.3s;
    

}
.dropdown .content a:hover{
background-color: beige;
}
.dropdown .content{
display: none;
position: absolute;
background-color:white;
box-shadow: black;
width: 120px;
}
.dropdown:hover .content{
display: block;
}

