
body {
    background-image: url(images/UNO\ Elementary\ School\ Soccer\ Academy\ _\ JGMA.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 300px;
    min-height: 250px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}